<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Luna{% endblock %}</title>

    <!-- uikit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.21.0/css/uikit.almost-flat.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Montserrat FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    {% stylesheets '@base_css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% image '@LunaBundle/Resources/public/images/favicon.ico' %}
    <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
    {% endimage %}

</head>
<body id="{{ app.request.get('_route') }}">
    <div class="frame">
        {% block body %}{% endblock %}
    </div>

    <footer class="footer"></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.4/js/smooth-scroll.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Smooth Scroll JS -->
    {% javascripts '@LunaBundle/Resources/public/js/smooth-scroll.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Parsley JS -->
    {% javascripts '@LunaBundle/Resources/public/js/parsley.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</body>
</html>