@import "_form.scss";
$texto: #111;
$maincolor: #4f5d73;
$secondarycolor: #4fb5a0;
$border-color: #c8c8c8;
$error-bg: #feeeee;
$error-color: darken($error-bg, 35);

body{
  background: white;
  font-family: 'Montserrat', sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  background: url("/images/moon.jpg") no-repeat center top;
  background-size:cover;
  color: #FFFFFF;
  height: 100vh;
  header{
    background-color: #111111;
    padding: 0.5rem 0;
    .container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      .logo{
        flex-grow: 1;
        img{
          width: 50px;
          height: auto;
        }
      }
      .button-menu{
        border: 0;
        font-size: 2rem;
        margin:0;
        padding: 0 .8rem;
        background: transparent;
        color: #FFFFFF;
      }
      #main-menu{
        flex: 1 1 100%;
        ul{
          padding: 0;
          list-style: none;
          margin: 1rem 0 0 0;
          li{
            a{
              display: block;
              padding: .5rem 0;
              text-align: center;
              color: #FFFFFF;
              text-transform: uppercase;
              border-top:1px solid #4f5d73;
              text-decoration: none;
              &:hover{
                text-decoration: none;
                color: $secondarycolor;
              }
            }
          }
        }
      }
    }
  }
  .text-index{
    margin-top: 4rem;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  .arrow-down{
    a{
      display: inline-block;
      color: #FFFFFF;
      font-size: 4rem;
      animation: arrow-down-animated 2s ease-in-out infinite;
    }
  }
}

#agency-section{
  background: $maincolor;
  color: #FFFFFF;
  img{
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

.services{
  background: url("/images/astronauta.jpg") no-repeat center top;
  background-size: cover;
  color: #FFFFFF;
  article{
    display: block;
    margin: 1rem 0;
  }
  h3{
    flex:1 1 auto;
    font-size: 1.5rem;
    font-weight: lighter;
    a{
      display: flex;
      justify-content: space-between;
      align-items:center;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
  img{
    width: 60px;
    margin-right: 1rem;
  }
}

#contact-section{
  background: $maincolor;
  color: #FFFFFF;
}

@keyframes arrow-down-animated {
      from{
        transform: translateY(0);
      }
      50%{
        transform: translateY(6px);
      }
      to{
        transform: translateY(0);
      }
}

.footer{
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: .9rem;
  .social-network{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    a{
      color: #FFFFFF;
      font-size: 1rem;
      margin: 0 .5rem;
      opacity: .7;
      transition: all .5s ease;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.goTitle{
  display: none;
  position: fixed;
  bottom:1rem;
  right: 1rem;
  font-size: 2rem;
  color: $secondarycolor;
  text-decoration: none;
  line-height: 0;
  z-index: 999999;
  transition: all .5s ease;
  &:visited{
    color: $secondarycolor;
  }
  &:hover{
    text-decoration: none;
    color: #FFFFFF;
  }
}

@media (min-width: 768px) {

  .main{
    background-attachment: fixed!important;
    header{
      .container{
        #main-menu{
          flex: 0 1 auto;
          display: block;
          height: auto!important;
          order:1;
          margin-left: auto;
          margin-right: .8rem;
          ul{
            display: flex;
            margin: 0;
            li{
              a{
                padding: .8rem;
                margin: 0 0.3rem;
                border-top:none;
                text-transform: capitalize;
                border-bottom: 4px solid transparent;
                transition: all .5s ease;
                &:hover{
                  color: $secondarycolor;
                  border-bottom: 4px solid $secondarycolor;
                }
              }
            }
          }
        }
      }
    }
  }

  .services{
    article{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      &:hover{
        img{
          transform: rotateY(360deg);
          transform-style: preserve-3d;
        }
      }
    }
    h3{
      font-size: 2rem;
      margin: 0 0 1.5rem 0;
      flex: 0 1 auto;
    }
    img{
      width: auto;
      flex: 0 0 160px;
      margin-right: 0;
      margin-bottom: 1rem;
      transition: all 1s ease;
    }
  }
}


$border-color: #c8c8c8;
$active-bg: #f5f8fc;
$active-color: #52a6e1;
$anim: cubic-bezier(0.215, 0.610, 0.355, 1.00);
$error-bg: #feeeee;
$error-color: darken($error-bg, 35);

.bt-form__wrapper {
  margin: 30px auto;
  max-width: 500px;
}

.bt-flabels {
  input[type] {
    position: relative;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    z-index: 1;
    transition: background 0.3s $anim, border-color 0.3s $anim;

    &:focus {
      background: $active-bg;
    }
  }

  label {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    transform: translateY(15%);
    z-index: 2;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 6px;
    color: $active-color;
    transition: transform 0.3s $anim, opacity 0.3s $anim;
  }

  >*:not(:first-child) {

    &.bt-flabels__wrapper, .bt-flabels__wrapper {
      border-top: none;
    }
  }
}
.bt-flabels__wrapper {
  position: relative;
  border: 1px solid $border-color;
}
.bt-flabels__error-desc {
  position: absolute;
  top: 0;
  right: 6px;
  opacity: 0;
  font-weight: bold;
  color: $error-color;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 3;
  pointer-events: none;
}
.bt-flabels__error {

  input[type] {
    background: $error-bg;

    &:focus {
      background: $error-bg;
    }
  }

  .bt-flabels__error-desc {
    opacity: 1;
    transform: translateY(0);
  }
}

.bt-flabels--right {
  border-left: none;
}
.bt-flabel__float {

  label {
    opacity: 1;
    transform: translateY(0);
  }

  input[type] {
    padding-top: 9px;
  }
}

/******* Contact *******/

.bt-flabels__wrapper{
  background: #fff;
  &.bt-flabels__error{
    background-color: $error-bg;
  }
}

.bt-form__wrapper {
  margin-bottom: 0;
}

#heard {
  width: 100%;
  height: 50px;
  border: none;
  background: none;
}

#submit-button{
  background-color: $secondarycolor;
}