{% extends "LunaBundle::base.html.twig" %}
{% block title %}
    VTTM Corp.
{% endblock %}
{% block body %}
    <section class="main" id="main">
        <header class="fixed-top" role="banner">
            <div class="container">
                <a class="logo" href="{{ path('homepage') }}">
                    {% image '@LunaBundle/Resources/public/images/rocket.svg'  output="images/rocket.svg" %}
                    <img src="{{ asset_url }}" alt="Logo" class="pull-left">
                    {% endimage %}
                </a>

                <button type="button" class="button-menu hidden-md-up" data-toggle="collapse" data-target="#main-menu" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></button>

                <nav class="collapse" id="main-menu">
                    <ul>
                        <li><a data-scroll href="#main">Home</a></li>
                        <li><a data-scroll href="#services-section">Services</a></li>
                        <li><a data-scroll href="#contact-section">Information</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="text-index text-center">
            <div class="container">
                <h1 class="display-4">
                    Visa to the Moon
                </h1>
                <p>Enjoy the moon with us, we waiting for you</p>
            </div>
        </div>

        <div class="arrow-down text-center">
            <a data-scroll href="#agency-section"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
    </section>

    <section class="agency py-5" id="agency-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-xl-9">
                    <h2 class="h3 text-center text-md-left font-weight-bold">About</h2>
                    <p>
                        Lorem ipsum dolor sit amet, nec prima legimus ullamcorper ex. Pri utinam oblique an, populo perfecto torquatos ius et. Vim ei legendos intellegam. Aliquip definiebas eum ex, eam voluptua platonem disputationi ex. Omnes tritani et eum. Nominati repudiandae ius ea, ut viderer maiorum vis.
                    </p>

                    <p>
                        His antiopam suavitate cu, eu per nobis propriae vituperatoribus. Voluptua tractatos ut mei, wisi impetus recteque no per, eum semper ornatus partiendo ne. An sed quis natum neglegentur. Quo iudico audiam an, pri graece definitionem conclusionemque ad.
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 col-xl-3">
                    {% image '@LunaBundle/Resources/public/images/passport.svg'  output="images/passport.svg" %}
                    <img src="{{ asset_url }}" alt="Logo">
                    {% endimage %}
                </div>
            </div>
        </div>
    </section>

    <main class="services py-5" id="services-section">
        <div class="container">
            <h2 class="h3 text-center font-weight-bold">Services</h2>

            <div class="row">
                <article class="col-md-4">
                    {% image '@LunaBundle/Resources/public/images/rocket2.svg'  output="images/rocket2.svg" %}
                    <img src="{{ asset_url }}" alt="Logo" class="pull-left">
                    {% endimage %}
                    <h3><a href="#">Travel</a></h3>
                    <p class="services-description">Lorem Ipsum dolor sit amet</p>
                </article>

                <article class="col-md-4">
                    {% image '@LunaBundle/Resources/public/images/hotel.svg'  output="images/hotel.svg" %}
                    <img src="{{ asset_url }}" alt="Logo" class="pull-left">
                    {% endimage %}
                    <h3><a href="#">Hospitality</a></h3>
                    <p class="services-description">Lorem Ipsum dolor sit amet</p>
                </article>

                <article class="col-md-4">
                    {% image '@LunaBundle/Resources/public/images/disco-ball.svg'  output="images/disco-ball.svg" %}
                    <img src="{{ asset_url }}" alt="Logo" class="pull-left">
                    {% endimage %}
                    <h3><a href="#">Entertainment</a></h3>
                    <p class="services-description">Lorem Ipsum dolor sit amet</p>
                </article>
            </div>
        </div>
    </main>

    <section class="form py-4" id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-xl-12">
                    <h2 class="h3 text-center font-weight-bold">More Information</h2>
                    <div class="bt-form__wrapper">
                        <form action="https://visatothemoon.herokuapp.com/moon.pdf"  target="_blank" class="uk-form bt-flabels js-flabels" data-parsley-validate data-parsley-errors-messages-disabled>
                        <div class="uk-grid uk-grid-collapse">
                            <div class="uk-width-1-2">
                                <div class="bt-flabels__wrapper">
                                    <label>First Name</label>
                                    <input type="text" name="first_name" placeholder="First Name" autocomplete="off" data-parsley-required />
                                    <span class="bt-flabels__error-desc">Required</span>
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="bt-flabels__wrapper bt-flabels--right">
                                    <label>Last Name</label>
                                    <input type="text" name="last_name" autocomplete="off" placeholder="Last Name" data-parsley-required />
                                    <span class="bt-flabels__error-desc">Required</span>
                                </div>
                            </div>
                        </div>

                        <div class="bt-flabels__wrapper">
                            <label for="heard">Gender *</label>
                            <select id="heard" required="">
                                <option value="">Choose..</option>
                                <option value="net">Male</option>
                                <option value="mouth">Female</option>
                            </select><span class="bt-flabels__error-desc">Required</span>
                        </div>

                        <div class="bt-flabels__wrapper">
                            <label>Email</label>
                            <input type="text" name="email" placeholder="name@domain.com" data-parsley-required data-parsley-type="email" autocomplete="off" />
                            <span class="bt-flabels__error-desc">Required/Invalid Email</span>
                        </div>

                        <div class="uk-text-center uk-margin-top">
                            <button id="submit-button" type="submit" class="uk-button uk-button-primary uk-button-large js-submit">Submit</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer py-3" role="contentinfo">
        <div class="container">
            <p>2017 © VTTM Corp. All rights reserved</p>

            <ul class="social-network">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </footer>

    <a data-scroll class="goTitle" href="#main"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>

    {% block javascript %}
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(e) {
                smoothScroll.init({
                    speed:1000,
                    offset:60
                });
                $(function () {
                    $(window).scroll(function () {
                        var scrolltop = $(this).scrollTop();
                        if (scrolltop >= 50) {
                            $(".goTitle").fadeIn();
                        } else {
                            $(".goTitle").fadeOut();
                        }
                    });

                });

                (function($) {
                    'use strict';

                    var floatingLabel;

                    floatingLabel = function(onload) {
                        var $input;
                        $input = $(this);
                        if (onload) {
                            $.each($('.bt-flabels__wrapper input'), function(index, value) {
                                var $current_input;
                                $current_input = $(value);
                                if ($current_input.val()) {
                                    $current_input.closest('.bt-flabels__wrapper').addClass('bt-flabel__float');
                                }
                            });
                        }

                        setTimeout((function() {
                            if ($input.val()) {
                                $input.closest('.bt-flabels__wrapper').addClass('bt-flabel__float');
                            } else {
                                $input.closest('.bt-flabels__wrapper').removeClass('bt-flabel__float');
                            }
                        }), 1);
                    };

                    $('.bt-flabels__wrapper input').keydown(floatingLabel);
                    $('.bt-flabels__wrapper input').change(floatingLabel);

                    window.addEventListener('load', floatingLabel(true), false);
                    $('.js-flabels').parsley().on('form:error', function() {
                        $.each(this.fields, function(key, field) {
                            if (field.validationResult !== true) {
                                field.$element.closest('.bt-flabels__wrapper').addClass('bt-flabels__error');
                            }
                        });
                    });

                    $('.js-flabels').parsley().on('field:validated', function() {
                        if (this.validationResult === true) {
                            this.$element.closest('.bt-flabels__wrapper').removeClass('bt-flabels__error');
                        } else {
                            this.$element.closest('.bt-flabels__wrapper').addClass('bt-flabels__error');
                        }
                    });

                })(jQuery);
            });
        </script>
    {% endblock %}

{% endblock %}