.bt-form__wrapper {
  margin: 30px auto;
  max-width: 500px; }

.bt-flabels input[type] {
  position: relative;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0;
  z-index: 1;
  transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), border-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .bt-flabels input[type]:focus {
    background: #f5f8fc; }
.bt-flabels label {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  top: 0;
  transform: translateY(15%);
  z-index: 2;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 6px;
  color: #52a6e1;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
.bt-flabels > *:not(:first-child).bt-flabels__wrapper, .bt-flabels > *:not(:first-child) .bt-flabels__wrapper {
  border-top: none; }

.bt-flabels__wrapper {
  position: relative;
  border: 1px solid #c8c8c8; }

.bt-flabels__error-desc {
  position: absolute;
  top: 0;
  right: 6px;
  opacity: 0;
  font-weight: bold;
  color: #f44545;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 3;
  pointer-events: none; }

.bt-flabels__error input[type] {
  background: #feeeee; }
  .bt-flabels__error input[type]:focus {
    background: #feeeee; }
.bt-flabels__error .bt-flabels__error-desc {
  opacity: 1;
  transform: translateY(0); }

.bt-flabels--right {
  border-left: none; }

.bt-flabel__float label {
  opacity: 1;
  transform: translateY(0); }
.bt-flabel__float input[type] {
  padding-top: 9px; }

body {
  background: white;
  font-family: 'Montserrat', sans-serif; }

.main {
  display: flex;
  flex-direction: column;
  background: url("/images/moon.jpg") no-repeat center top;
  background-size: cover;
  color: #FFFFFF;
  height: 100vh; }
  .main header {
    background-color: #111111;
    padding: 0.5rem 0; }
    .main header .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row; }
      .main header .container .logo {
        flex-grow: 1; }
        .main header .container .logo img {
          width: 50px;
          height: auto; }
      .main header .container .button-menu {
        border: 0;
        font-size: 2rem;
        margin: 0;
        padding: 0 .8rem;
        background: transparent;
        color: #FFFFFF; }
      .main header .container #main-menu {
        flex: 1 1 100%; }
        .main header .container #main-menu ul {
          padding: 0;
          list-style: none;
          margin: 1rem 0 0 0; }
          .main header .container #main-menu ul li a {
            display: block;
            padding: .5rem 0;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            border-top: 1px solid #4f5d73;
            text-decoration: none; }
            .main header .container #main-menu ul li a:hover {
              text-decoration: none;
              color: #4fb5a0; }
  .main .text-index {
    margin-top: 4rem;
    flex: 1 1 auto;
    display: flex;
    align-items: center; }
  .main .arrow-down a {
    display: inline-block;
    color: #FFFFFF;
    font-size: 4rem;
    animation: arrow-down-animated 2s ease-in-out infinite; }

#agency-section {
  background: #4f5d73;
  color: #FFFFFF; }
  #agency-section img {
    width: 80%;
    display: block;
    margin: 0 auto; }

.services {
  background: url("/images/astronauta.jpg") no-repeat center top;
  background-size: cover;
  color: #FFFFFF; }
  .services article {
    display: block;
    margin: 1rem 0; }
  .services h3 {
    flex: 1 1 auto;
    font-size: 1.5rem;
    font-weight: lighter; }
    .services h3 a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #FFFFFF;
      text-decoration: none; }
  .services img {
    width: 60px;
    margin-right: 1rem; }

#contact-section {
  background: #4f5d73;
  color: #FFFFFF; }

@keyframes arrow-down-animated {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(6px); }
  to {
    transform: translateY(0); } }
.footer {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: .9rem; }
  .footer .social-network {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .footer .social-network a {
      color: #FFFFFF;
      font-size: 1rem;
      margin: 0 .5rem;
      opacity: .7;
      transition: all .5s ease; }
      .footer .social-network a:hover {
        opacity: 1; }

.goTitle {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #4fb5a0;
  text-decoration: none;
  line-height: 0;
  z-index: 999999;
  transition: all .5s ease; }
  .goTitle:visited {
    color: #4fb5a0; }
  .goTitle:hover {
    text-decoration: none;
    color: #FFFFFF; }

@media (min-width: 768px) {
  .main {
    background-attachment: fixed !important; }
    .main header .container #main-menu {
      flex: 0 1 auto;
      display: block;
      height: auto !important;
      order: 1;
      margin-left: auto;
      margin-right: .8rem; }
      .main header .container #main-menu ul {
        display: flex;
        margin: 0; }
        .main header .container #main-menu ul li a {
          padding: .8rem;
          margin: 0 0.3rem;
          border-top: none;
          text-transform: capitalize;
          border-bottom: 4px solid transparent;
          transition: all .5s ease; }
          .main header .container #main-menu ul li a:hover {
            color: #4fb5a0;
            border-bottom: 4px solid #4fb5a0; }

  .services article {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    .services article:hover img {
      transform: rotateY(360deg);
      transform-style: preserve-3d; }
  .services h3 {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    flex: 0 1 auto; }
  .services img {
    width: auto;
    flex: 0 0 160px;
    margin-right: 0;
    margin-bottom: 1rem;
    transition: all 1s ease; } }
.bt-form__wrapper {
  margin: 30px auto;
  max-width: 500px; }

.bt-flabels input[type] {
  position: relative;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0;
  z-index: 1;
  transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), border-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .bt-flabels input[type]:focus {
    background: #f5f8fc; }
.bt-flabels label {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  top: 0;
  transform: translateY(15%);
  z-index: 2;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 6px;
  color: #52a6e1;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
.bt-flabels > *:not(:first-child).bt-flabels__wrapper, .bt-flabels > *:not(:first-child) .bt-flabels__wrapper {
  border-top: none; }

.bt-flabels__wrapper {
  position: relative;
  border: 1px solid #c8c8c8; }

.bt-flabels__error-desc {
  position: absolute;
  top: 0;
  right: 6px;
  opacity: 0;
  font-weight: bold;
  color: #f44545;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 3;
  pointer-events: none; }

.bt-flabels__error input[type] {
  background: #feeeee; }
  .bt-flabels__error input[type]:focus {
    background: #feeeee; }
.bt-flabels__error .bt-flabels__error-desc {
  opacity: 1;
  transform: translateY(0); }

.bt-flabels--right {
  border-left: none; }

.bt-flabel__float label {
  opacity: 1;
  transform: translateY(0); }
.bt-flabel__float input[type] {
  padding-top: 9px; }

/******* Contact *******/
.bt-flabels__wrapper {
  background: #fff; }
  .bt-flabels__wrapper.bt-flabels__error {
    background-color: #feeeee; }

.bt-form__wrapper {
  margin-bottom: 0; }

#heard {
  width: 100%;
  height: 50px;
  border: none;
  background: none; }

#submit-button {
  background-color: #4fb5a0; }

/*# sourceMappingURL=style.css.map */
